<form asp-action="login_form" asp-controller="Account" method="post">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div style="color: red;">@ViewBag.ErrorMessage</div>
    }

    <!-- Email Alanı -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"
    @(ViewData["action"]?.ToString() == "login" ? "required" : "") />
    <br />

    <!-- Şifre Alanı -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"
    @(ViewData["action"]?.ToString() == "login" ? "required" : "") />
    <br />

    <!-- Giriş Yap Butonu -->
    <button type="submit" name="action" value="login">Giriş Yap</button>

    <!-- Kayıt Ol Butonu -->
    <button type="submit" name="action" value="register">Kayıt Ol</button>
</form>
